.imageset{
    background-image: url('/assets/login.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }

 .central-dev {
    text-align: center;
    margin: auto; 
    margin-top: 4%; 
    width:30%;
    padding: 5%;
    background-image:linear-gradient(#7b4397  , #dc2430);
    border-radius: 30px;
}

