<div style="margin: auto; margin-top: 2%; width:30%; text-align: center; padding: 5%;">
  <mat-select placeholder="Choose chart type"  (selectionChange)="onChange($event)">
    <mat-option *ngFor="let c of charts" [value]="c.id">{{c.chartType}}</mat-option>
  </mat-select>
</div>

<mat-card [class.mat-elevation-z15]="isActive" style="margin: auto; margin-top: 2%; width:60%; text-align: center">
  <fusioncharts *ngIf="ifChartSelected"
  [type]="charttype"
  width="700"
  height="400"
  dataFormat="json"
  [dataSource]="datasource"
  dataEmptyMessage="Chart is not compatible for the data"
  (ready)="eventtype($event)">
  </fusioncharts>
</mat-card>
                        
                    


