<div>
  <table>
     <tbody>
        <li *ngFor="let item of testData">  
           {{item.doc_num}}, {{item.task_type}}, {{item.compl_dt}}         
        </li>
     </tbody>
  </table>
</div>
<div>
  <mat-card [class.mat-elevation-z15]="isActive" style="margin: auto; margin-top: 2%; width:80%; text-align: center">

    <div style="margin: auto; margin-top: 2%; width:70%; text-align: center; padding: 5%;">
      <form [formGroup]="inputForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="full-width-field">
         <mat-select placeholder="Choose your product"
            formControlName="spec_grp_id">
            <mat-option *ngFor="let p of products" [value]="p.id">{{p.name}}</mat-option>
         </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        
        <input matInput [matDatepicker]="picker1" placeholder="From Date" formControlName="from_time">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    
    </mat-form-field>
      <br>
      <mat-form-field>
        
        <input matInput [matDatepicker]="picker2" placeholder="To Date" formControlName="to_time">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    
    </mat-form-field>
      <br>
      <button
         mat-raised-button 
         type="submit"
         [disabled]="!inputForm.valid">
      SUBMIT
      </button>
      </form>
    </div>
    <div style="margin: auto; margin-top: 2%; width:30%; text-align: center; padding: 5%;">
      <mat-select placeholder="Choose chart type"  (selectionChange)="onChange($event)">
         <mat-option *ngFor="let c of charts" [value]="c.id">{{c.chartType}}</mat-option>
      </mat-select>
    </div>
    <mat-card style="margin: auto; margin-top: 2%; width:60%; text-align: center">
      <fusioncharts *ngIf="ifChartSelected; else showDescription"
      [type]="charttype"
      width="700"
      height="400"
      dataFormat="json"
      [dataSource]="datasource"
      dataEmptyMessage="Chart is not compatible for the data"
      (ready)="eventtype($event)">
      </fusioncharts>
      <ng-template #showDescription >
        <div style="font-size: 10px; margin: 2%;">
          <p>Chart will be displayed here</p>
        </div>
      </ng-template >
    </mat-card>

  </mat-card>
</div>
