/* The below two lines of code is added for material design */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
    border: white;
    
  }
  

  .mat-form-field.mat-focused .mat-form-field-label {
    background: #FFFFFF;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white;
  
  }
